#container-automoviles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#container-automoviles > div {
    flex: 1 0 21%; /* Cambia este valor para controlar cuántos elementos por línea */
    margin: 1%;
    box-sizing: border-box;
}
