.titulos-sections{
    background-color: #1AACAC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#container-ofertas {
    display: flex;
    flex-wrap: wrap;
}
#container-ofertas > div  {
    flex: 1 0 21%; 
    margin: 2%;
    box-sizing: border-box;
}

@media only screen and (max-width: 1440px) {
    #container-ofertas > div  {
        flex: 1 0 24%; 
    }
}
@media only screen and (max-width: 768px) {
    #container-ofertas > div {
        flex: 1 0 32%;
        margin: 3%; 
    }
}
@media only screen  and (max-width: 391px) {
    #container-ofertas > div {
        flex: 1 0 50%; 
        margin: 4%;
    }
}