@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.container-login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #053B50;
    color: white;
    padding: 0px 40px;
    width: 35vw;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    margin: 0;
}
#exit{
    color: white;
    background-color: #053B50;
    padding-top: 10px;
    width: 35vw;
    padding-left: 31vw;
}
.iniciar-sesion{
    margin-top: 40px;
    background-color: #245067;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 12px;
    width: 29vw;
}
.container-password{
    margin-top: 20px;
}
.container-password > h5 > a{
    text-decoration: none;
    color: #1AACAC;
    margin-left: 6vw;
    font-size: 16px;
}
.crear-cuenta{
    font-size: 16px;
    margin-top: 10px;
}
.crear-cuenta > a{
    margin-left: 2px;
    color: #1AACAC;
 }
.input-default{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-default > input {
    border: none;
    border-radius: 15px;
    width: 16vw;
    height: 38px;
    font-size: 16px;
}
#section-ps{
    margin-left: 3vw;
    margin-bottom: 10px;
}
#btn-iniciar-sesion{
    background-color: #1AACAC;
    border: none;
    border-radius: 20px;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-top: 30px;
}
@media only screen and (max-width: 768px) {
    .login, #exit{
        width: 60vw;
    }
    #exit{
        padding-left: 54vw;
    }
    .iniciar-sesion{
        width: 50vw;
    }
    .input-default > input {
        width: 28vw;;
    }
    #section-ps{
        margin-left: 5vw;

    }
    .input-c{
        margin-left: 2vw;
    }
    .c2{
        margin-right: 2vw;
    }
}
@media only screen  and (max-width: 391px) {
    .login, #exit{
        width: 100vw;
    }
    .login{
        margin-top: 7vh; 
        border-radius: 0;
        height: 93vh;
    }
    #exit{
        padding-left: 90vw;
    }
    .container-login{
        font-size: 12px;
        align-items: normal;
    }
    .icon-movil{
        height: 6vw;
        width: 6vw;
    }
    .iniciar-sesion{
        width: 80vw;
    }
    .input-default > input {
        width: 56vw;;
    }
}



