#Marcas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    margin: auto 4vh;
}
.marca{
    width: 14vw;
    height: 17vh;
    margin: 1vw;
    padding: 0;
}
.marca:last-child {
    margin-bottom: 2vh;
}
.Chevrolet{
    background: url('../assets/images/marcas/chevrolet-logo.png') no-repeat ;
    background-size: contain;
    border: none;
}
.Ford{
    background: url('../assets/images/marcas/ford-logo.png') no-repeat;
    background-size: contain;
    border: none;

}
.Toyota{
    background: url('../assets/images/marcas/toyota-logo.png') no-repeat;
    background-size: contain;
    border: none;
}
.Nissan{
    background: url('../assets/images/marcas/nissan-logo.png') no-repeat;
    background-size: contain;
    border: none;
}
.BMW{
    background: url('../assets/images/marcas/BMW-logo.png') no-repeat;
    background-size: contain;
    border: none;
} 
@media only screen and (max-width: 768px) {
    .marca{
        height: 10vh;
    }

}
@media only screen  and (max-width: 391px) {
    #Marcas{
        flex-direction: column;
        padding: 0;
    }
    .marca{
        width: 40vw;
        height: 12vh;
    }
    .Nissan{
        margin-top: 3vh;
        margin-left: 6vw;
    
    }
    .BMW{
        margin-top: 3vh;
        margin-left: 6vw;
    }
}