
#Datos{
    display: flex;
    flex-direction: column;
    background-color: #0a516d;
    color: white;
    padding: 10px 40px;
    width: 100vw;
    height: 93vh;
    border: none;
    font-size: medium;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/Automoviles/aveoGT-chevrolet.png');
}
#info{
    padding: 40px 40px;
    border: 2px solid white;
    border-radius: 20px;
    z-index: 9999;
    background-color: #0a516d;
}
.Dato{
    color: #1AACAC;
}
@media only screen and (max-width: 768px) {
    #exit-info{
        width: 60vw;
        padding-left: 55vw;
    }
    #Datos{
        width: 100vw;
        border: none;
    }
}
@media only screen  and (max-width: 391px) {
    #container-perfil{
        align-items: normal;
    }
    #exit-info, #Datos{
        width: 100vw;
    }
    #exit-info{
        margin-top: 7vh; 
        padding-left: 93vw;    
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    #Datos{ 
        height: 93vh;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
